#navbar-app {
    flex: 0 0 220px;
    width: 220px;
    display: flex;
    flex-flow: column;
    background-color: #363e45;
}

#multi-spa-container {
    flex-flow: row nowrap;
    width: 100%;
    display: flex;
}

#mainapp {
    flex-grow: 1;
}