<div class="agent-app-wrap">
  <div class="panel-heading">
    <div>
      <div class="panel-toolbar">
        <button class="btn btn-sm btn-primary mr10"><i class="ico-plus"></i>Add Agent</button>
        <button class="btn btn-sm btn-default mr10"><span>Show Disabled Agents</span></button>
        <span class="pull-right"> 2 Total Agents</span>
      </div>
    </div>
  </div>
  <div class="agents-table">
    <div class="agents-table-body-wrapper">
      <div class="agent-table-body">
        <div class="agent-table-row">
          <div class="agent-table-col-sm">
            <div class="agent-info">
              <div class="mt10">
                <img class="agent-pic lazy" src="//s-static.cinccdn.com/images/agent.png" style="display:inline-block;">
              </div>
            </div>
          </div>
          <div class="agent-table-col">
            <div class="agent-info">
              <div>
                <strong><a href="/dashboard/spa#blah">Cool Agent</a></strong>
              </div>
              <div class="agent-email" title="test@mycoolsite.com">test@mycoolsite.com</div>
              <div><i>Loan Officer</i></div>
            </div>
          </div>
          <div class="agent-table-col text-right">
            <div><button class="btn btn-sm btn-default agent-action-btn">Edit Permissions</button></div>
            <div><button class="btn btn-sm btn-primary agent-action-btn">Become User</button></div>
            <div><button class="btn btn-sm btn-danger agent-action-btn">Disable</button></div>
          </div>
        </div>
        <div class="agent-table-row">
            <div class="agent-table-col-sm">
              <div class="agent-info">
                <div class="mt10">
                  <img class="agent-pic lazy" src="//s-static.cinccdn.com/images/agent.png" style="display:inline-block;">
                </div>
              </div>
            </div>
            <div class="agent-table-col">
              <div class="agent-info">
                <div>
                  <strong><a href="/dashboard/spa#blah">Api TestBroker</a></strong>
                </div>
                <div class="agent-email" title="apitestbroker.almonds@noemail.com">apitestbroker.almonds@noemail.com</div>
                <div><i>Branch Manager</i></div>
              </div>
            </div>
            <div class="agent-table-col text-right">
              <div><button class="btn btn-sm btn-default agent-action-btn">Edit Permissions</button></div>
              <div><button class="btn btn-sm btn-primary agent-action-btn">Become User</button></div>
              <div><button class="btn btn-sm btn-danger agent-action-btn">Disable</button></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>